.navbar-container {
  background-color: #2c0e3a;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.website-logo {
  height: 45px;
  width: 160px;
}
@media screen and (max-width: 767px) {
  .website-logo {
    height: 30px;
    width: 120px;
  }
}
.score-card-container {
  display: flex;
  align-items: center;
}
.score-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  align-self: center;
}
@media screen and (max-width: 767px) {
  .score-text {
    font-size: 18px;
  }
}
.score {
  color: #fec653;
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .score {
    font-size: 18px;
  }
}
.timer-container {
  display: flex;
  margin-left: 20px;
}
.timer-img {
  height: 30px;
  width: 30px;
  align-self: center;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .timer-img {
    height: 24px;
    width: 24px;
  }
}
.display-timer {
  color: #fec653;
  font-family: 'Roboto';
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .display-timer {
    font-size: 18px;
  }
}
